#site-root {
  top: 0px;
  overflow-y: hidden;
}
#WIX_ADS {
  display: none;
}
:root{
  --wix-ads-height: 0px;
  --wix-ads-top-height: 0px;
}
#SITE_CONTAINER {
  top: -50px;
  overflow-y: hidden;
}
#SITE_PAGES {
  padding-bottom: 50px;
}
button:focus {
  outline:0;
}
::-webkit-scrollbar {
  width: 13px;
}
::-webkit-scrollbar-track {
  background: #000; 
}
::-webkit-scrollbar-thumb {
  background: #303030; 
}
::-webkit-scrollbar-thumb:hover {
  background: #444444; 
}
::-webkit-scrollbar-corner {
  background: #000; 
}
